@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    overflow: hidden;
}

body {
    overflow: hidden;
}



/********************* timer *********************/
#timer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer.active {
    display: none;
}

#timer .text {
    margin-bottom: 10px;
    font-size: 18px;
}

#timer .count {
    display: inline-block;
    color: #1E88E5;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}



/********************* Layers_Main *********************/
.Layers_Main {
    pointer-events: none;
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 1s cubic-bezier(1, 0.01, 0.25, 1);
}

.Layers_Main.active {
    pointer-events: all;
    display: flex;
}

.Layers_Main.active2 {
    opacity: 0;
}

.Layers_Main header {
    margin-top: 70px;
}

.information_text {
    display: flex;
    align-items: center;
    scale: 1;
    transition: .3s ease;
}

.information_text.active {
    opacity: 0;
    scale: 0.85;
}

.information_text span {
    text-align: center;
    font-size: 24px;
}

.information_text img {
    margin-left: 10px;
    width: 23px;
    height: 23px;
}

.envelope {
    display: flex;
    width: calc(100% - 10px);
    max-width: 260px;
    height: 180px;
    scale: 1;
}

.envelope .top svg {
    position: absolute;
    bottom: 90px; /* 105px */
    max-width: 276px;
    width: 100%;
    opacity: 0;
    z-index: -99;
    transform: rotateX(70deg);
    transition: .3s ease;
}

.envelope svg {
    width: 100vh;
    height: 100%;
}

.information_swipe {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 70px;
    opacity: 0.7;
    scale: 1;
    transition: .3 ease;
}

.information_swipe.active {
    opacity: 0;
    scale: 0.85;
}

.information_swipe svg:nth-child(1) {
    opacity: 0;
    transform: scale(0);
    animation-name: information_swipe_svg_1;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.information_swipe svg:nth-child(2) {
    opacity: 0;
    transform: scale(0);
    animation-name: information_swipe_svg_2;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.information_swipe svg:nth-child(3) {
    opacity: 0;
    transform: scale(0);
    animation-name: information_swipe_svg_3;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes information_swipe_svg_1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes information_swipe_svg_2 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes information_swipe_svg_3 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



/********************* Open_Envelope *********************/
.Open_Envelope {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    scale: 0.3;
    overflow: hidden;
    transition: .6s cubic-bezier(1, 0.29, 0.25, 1);
}

.Open_Envelope.active {
    pointer-events: all;
    opacity: 1;
    scale: 1;
}

.Open_Envelope .video_mini {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    height: calc(100% - 90px);
    transition: .6s cubic-bezier(1, 0.29, 0.25, 1);
}

.Open_Envelope .video_mini.active {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}

.play {
    position: absolute;
    scale: 1;
    opacity: 1;
    z-index: 99;
    transition: .5s cubic-bezier(1, 0.29, 0.25, 1);
}

.play.active {
    scale: 0.6;
    opacity: 0;
}

.video_mini video {
    width: 100%;
    border-radius: 33px;
    filter: blur(2px);
    height: 100%;
    object-fit: cover;
    transition: .6s cubic-bezier(1, 0.29, 0.25, 1);
}

.video_mini video.active {
    border-radius: 0px;
    filter: blur(0px);
}