@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background: white
}

@media screen and (min-width: 800px) {
  .block-nav {
    box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.205);
  }
  .swipe-finger {
    opacity: 0;
  }
  .over_screen_active {
    box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.205);
  }
  .block-nav {
    border-radius: 10px;
  }
}

.banner_play {
  cursor: default !important;
}
.sound_click {
  cursor: pointer;
}

.extended-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #33a2e2;
}
.extended-list::-webkit-scrollbar {
  height: 7px;
  background-color: white;
}

#application-canvas {
  position: static !important;
}

/* NEFORMAL */
.container,
.menu,
.banner_play {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_hidden {
  pointer-events: none;
  opacity: 0;
}

.banner_play {
  pointer-events: all;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.stop_game_touch {
  pointer-events: all;
}

.banner_play > span {
  font-weight: 700;
  font-size: 17px;
  -webkit-animation: bannerPlay 2.5s ease-in-out infinite;
          animation: bannerPlay 2.5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes bannerPlay {
  0% {
    margin-bottom: 170px;
  }
  100% {
    font-size: 18.5px;
    margin-bottom: 130px;
  }
}

@keyframes bannerPlay {
  0% {
    margin-bottom: 170px;
  }
  100% {
    font-size: 18.5px;
    margin-bottom: 130px;
  }
}
.score-bar {
  display: flex;
  transform: translate(10px, 10px);
}

.width_active {
  max-width: 43px !important;
}
.score-bar > div {
  max-width: 600px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  padding-right: 9px;
  color: white;
  background: #33a2e2;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.2s ease-in-out;
}

.score-bar > div > span > svg {
  margin-top: 2px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  fill: white;
}

.score-num {
  margin-left: 9px;
  font-weight: 500;
  font-size: 24px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.score_num_active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.game-score-svg {
  margin-left: 14px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.game-score-svg-active {
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.game-pause {
  pointer-events: none;
  position: absolute;
  margin-left: 0 !important;
  left: 13px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.game-pause-active {
  pointer-events: all;
  margin-left: 0 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  z-index: 9;
}

.score_bar_active {
  z-index: 999;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.score_bar_active:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.buttons-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  border-radius: 24px;
  background: #33a2e2;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.btnNav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  background: #33a2e2;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btnNav:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btnNav > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
  padding: 30px;
  border: none;
  background: none;
}

.btnNav > button > svg {
  width: 30px;
  height: 30px;
  fill: white;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.block-nav {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.562);
  opacity: 0;
  z-index: 100;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.block-nav-active {
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.block-nav-lead,
.block-nav-skins,
.block-nav-settings {
  pointer-events: none;
  position: absolute;
  width: calc(100% - 50px);
  max-width: 500px;
  min-width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.block-active {
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.block-nav-lead > .edging,
.block-nav-skins > .edging,
.block-nav-settings > .edging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  background: #33a2e2;
}

.edging > span {
  margin-left: 16px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.close-btn {
  width: 35px;
  height: 35px;
  margin-right: 13px;
  fill: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close-btn:active {
  fill: #dcf1ff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.detail-block-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}

.detail-block-nav > label > span {
  margin-left: 3px;
  font-weight: 700;
  font-size: 16px;
}

.f-st {
  margin-top: 15px !important;
}

.detail-block-nav > label {
  margin-top: 10px;
  font-size: 18px;
}

.dBn-wrap {
  margin-top: 15px;
}

.dBn-wrap > span {
  font-size: 18px;
}

.extended-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  width: 100%;
  height: 130px;
  overflow: auto;
}

.list-item:nth-child(1) {
  margin-left: 0;
}

.list-item {
  margin-left: 10px;
  min-width: 100px;
  height: 100%;
  background: black;
  background-position: center !important;
  background-size: contain !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.list-item-success,
.list-item-success-first {
  display: block;
  position: relative;
  text-align: center;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.list-item-success > svg,
.list-item-success-first > svg {
  width: 22px;
  height: 22px;
  fill: #2CDF1F;
  scale: 0.5;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.list-item.active {
  height: 75px;
}

.list-item.active .list-item-success {
  -webkit-transform: translateY(82px);
          transform: translateY(82px);
}

.list-item.active .list-item-success > svg {
  scale: 1;
  opacity: 1;
}

.list-item-first > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -86px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  fill: white;
}

.list-item-first > input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.list-item-first > span > svg {
  margin-bottom: 7px;
  width: 20px;
  height: 20px;
}

.sound_c_abc,
.music_c_abc {
  position: absolute;
  margin-top: 2px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.sound_c_abc_en,
.music_c_abc_en {
  margin-left: 3px;
}

.hvost_sound,
.hvost_music {
  margin-left: 13px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hvost_sound_en,
.hvost_music_en {
  opacity: 0;
}

#sound_c.active .sound_c_abc,
#music_c.active .music_c_abc {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
}

.hvost_music.active {
  margin-left: 0px;
}

#sound_c.active .hvost_sound,
#music_c.active .hvost_music {
  margin-left: 0px;
}

#sound_c.active .hvost_sound_en,
#music_c.active .hvost_music_en {
  margin-left: 3px;
  opacity: 1;
}

.stop_game_widget {
  pointer-events: none;
  position: absolute;
}

.pds_lang {
  padding: 0 4px 0 4px;
}