html,
body {
    user-select: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-style: normal;
    text-decoration: none;
    font-optical-sizing: auto;
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: #000;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.valery_burger { opacity: 1; transition: .5s ease; }

.valery_photo,
.valery_burger,
.burder_close {
    width: 45px;
    height: 45px;
}

.valery_burger,
.burder_close {
    border: none;
    background: none;
    cursor: pointer;
}

.valery_burger.active {
    opacity: 0;
}

.valery_photo {
    cursor: pointer;
}

.valery_photo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

svg {
    width: 25px;
    height: 25px;
    fill: #ffffff;
}

.burger_svg {
    opacity: 1;
    transform: scale(1);
    transition: .5s ease;
}

.burger_svg.active {
    transform: scale(0.5);
    opacity: 0;
}

.close_svg {
    position: absolute;
    right: 30px;
    opacity: 0;
    transform: scale(0.5);
    transition: .5s ease;
}

.close_svg.active {
    transform: scale(1);
    opacity: 1;
}

.text_animated {
    pointer-events: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#valery_name {
    display: flex;
    align-items: center;
    word-spacing: -13px;
    text-align: center;
    color: #ffffff;
}

.letter {
    font-size: 55px;
    font-weight: 600;
    opacity: 0;
}

#valery_image {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-15px);
}

.image {
    display: block;
    width: 35px;
    height: 35px;
    object-fit: contain;
    transform: translateY(-45px);
    opacity: 0;
    z-index: -9;
}

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(105 105 105 / 50%);
    backdrop-filter: blur(13px);
    opacity: 0.3;
    z-index: 999;
    transform: translateX(100%);
    transition: .5s ease-in-out;
}

.menu.active {
    opacity: 1;
    transform: translateX(0%);
}

.menu_item {
    margin: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    word-spacing: -1px;
    cursor: pointer;
}

.burder_close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.valery_burger.active {
    opacity: 0;
}

.bloks {
    pointer-events: none;
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    background: #000000;
    opacity: 0;
    transition: .5s ease-in-out;
}

.bloks.active {
    pointer-events: all;
    opacity: 1;
}

.bloks > div {
    width: 100%;
    height: 100%;
}

.blok_stack-skill {
    padding: 23px 30px 23px 20px;
    opacity: 0;
}

.blok_stack-skill:last-child {
    padding-bottom: 50px;
}

.header {
    display: grid;
    grid-template-areas: "a a a";
    grid-template-columns: 60px 1fr;
    align-items: center;
    cursor: pointer;
}

.header > .image {
    transform: none;
    opacity: 1;
    z-index: 9;
    transition: .5s ease;
}

.header > .title {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
}

.header > .svg_more > svg {
    transform: rotateX(0deg);
    transition: .8s ease;
}

.blok_stack-skill.active > .header > img {
    width: 41px;
    height: 41px;
}

.blok_stack-skill.active .header .svg_more > svg {
    transform: rotateX(180deg);
}

.blok_stack-skill .more {
    margin-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: .8s ease;
}

.blok_stack-skill.active .more {
    margin-top: 15px;
    max-height: 120px;
}

.blok_stack-skill > .more > span {
    color: #ffffff;
    opacity: 0;
    transition: .6s ease;
}

.blok_stack-skill.active > .more > span {
    opacity: 1;
}


@media screen and (min-width: 500px) {
    header {
        padding: 35px;
    }

    .bloks {
        position: relative;
        transform: translateY(-100px);
    }

    .blok_stack-skill {
        padding: 30px 45px 30px 35px;
    }

    .valery_photo,
    .valery_burger,
    .burder_close {
        width: 55px;
        height: 55px;
    }

    svg {
        width: 30px;
        height: 30px;
        fill: #ffffff;
    }

    .burder_close {
        position: absolute;
        top: 35px;
        right: 35px;
    }
}