.window_start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.play_click {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.actvP {
    pointer-events: none;
}

.swipeArea {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.actv {
    pointer-events: all;
}

.block-check {
    margin: 30px;
    overflow: hidden;
}

.block-check-for-ws {
    position: relative;
    margin-left: 0px; /* -102px */
    font-size: 25px;
    font-weight: bold;
    z-index: 0; /* 9 */
    opacity: 1;
    transition: .2s ease-in-out;
}

.block-check-for-ws > span:first-child {
    opacity: 1;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.for-stop-game {
    position: absolute;
    top: 2px;
    opacity: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.pause_btn_style {
    opacity: 0;
}

.block-check-for-ws > span:last-child {
    color: rgba(19, 146, 219, 0.85);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.container-nav-bar {
    display: grid;
    justify-content: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    width: 165px;
    height: 70px;
    border-radius: 22px;
    background: rgba(19, 146, 219, 0.85);
    z-index: 9;
    opacity: 1;
    transition: .2s ease-in-out;
}

.button-detail,
.button-setting {
    margin-top: 3px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.icon-detail > svg {
    transform: scale(0.75);
}

.icon-setting > svg {
    transform: scale(0.75);
}


.animPlay .block-check-for-ws {
    margin-left: -74px;
    z-index: 9;
}

.animPlay .for-stop-game {
    position: absolute;
    top: 2px;
    left: 74px;
    opacity: 1;
}

.animPlay .block-check-for-ws > span:first-child,
.animPlayEn .block-check-for-ws > span:first-child {
    opacity: 0;
}

.animPlay .nav-bar,
.animPlayEn .nav-bar {
    margin: 0 !important;
    z-index: 0;
    opacity: 0;
}


.animPause .block-check-for-ws {
    pointer-events: none;
    margin-left: -102px;
    color: white;
}

.animPause .for-stop-game,
.animPauseEn .for-stop-game {
    opacity: 0;
}

.animPause .block-check-for-ws > span:last-child,
.animPauseEn .block-check-for-ws > span:last-child {
    color: white;
}


.animLoser .block-check-for-ws,
.animLoserEn .block-check-for-ws {
    pointer-events: none;
    margin-left: -130px !important;
    opacity: 0;
}


.animPlayEn .block-check-for-ws {
    margin-left: -45px;
    z-index: 9;
}

.animPlayEn .for-stop-game {
    position: absolute;
    top: 3px;
    left: 45px;
    opacity: 1;
}


.animPauseEn .block-check-for-ws {
    pointer-events: none;
    margin-left: -74px; /* !important */
    color: white;
}