@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC0UExURQAAAACZzBQUdhAQcB4t0iQxzgCP1wDP/ygw1wCP2wCT2wCN4QCO3wDM/wOT3ACQ3QPL/ACV3wDP/wXH/APO/wPJ/APO/yTU/xIYcBMZcRIbdACT3yYy1yQx1yQy1yUz2QlcrQCR3hkjkwCS3gGQ3QCR3gHM/wGQ3ACS3QCh5gDO/wHN/gCS3RghjRgijhchjSAtvSAtvR8svACS3QCf5ACg5ACh5QC99gC+9gC/9gDO/wSm6yw74MwAAAAzdFJOUwAFDRARFSAgIEBAQ0hQUFpdYGBgYmNjcHR6fX+Aho6frre/ztLY2drf39/g4+jq7+/2+xYY5I0AAACqSURBVCjPbdHXFoIwDAbguHDi3qi4xT3iKPH938vawjm0JFc5X9u/gQIAuPsycNUW6LFOb1w4nIeIQZVxeQDTWV0iIR03VtaAiJ7/haBi59AHVXm200svrBzLhfZklnI1kpmlPYwd64bHN6wb5n59w65mzk/qG06t5Jz9yL/z1P+RtW3652zKj50MlO5Dyw891cwuhhfdqCncxuyDwuSaYz3/GPEHpsuo+QF/ZiUNw2/IZwAAAABJRU5ErkJggg=="), auto;
}

.e4fb8cea-6169-4519-b87d-814444253b84,
.window_start,
.template_ds {
    position: absolute;
    width: 100%;
    height: 100%;
}

.e4fb8cea-6169-4519-b87d-814444253b84 {
    user-select: none;
    font-family: 'Inter', sans-serif;
}